@using PagedList
@using PagedList.Mvc



@model IPagedList<prj.Models.TableToors1081649>
@{
	ViewBag.Title = "醫療用品";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>醫療用品倉儲</h2>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.FirstOrDefault().用品)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FirstOrDefault().供應商代號)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FirstOrDefault().單位數量)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FirstOrDefault().價格)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FirstOrDefault().庫存量)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FirstOrDefault().已訂購量)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FirstOrDefault().預計能使用天數)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FirstOrDefault().報廢)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FirstOrDefault().TableDoctors1081649.醫生姓名)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.用品)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.供應商代號)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.單位數量)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.價格)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.庫存量)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.已訂購量)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.預計能使用天數)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.報廢)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TableDoctors1081649.醫生姓名)
			</td>
		</tr>
	}

</table>
@Html.PagedListPager(Model, Page => Url.Action("toor", new { Page }))
