@model IEnumerable<prj.Models.TableToorman1081649>

@{
    ViewBag.Title = "員工考核評分";
}

<h2>TableToormans1081649</h2>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.姓名)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.月考績分數)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Mail)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.雇用日期)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.TableDoctors1081649.醫生姓名)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.姓名)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.月考績分數)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Mail)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.雇用日期)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TableDoctors1081649.醫生姓名)
			</td>
			<td>
				<a href="@Url.Action("Edittoorman")?fEmpId=@item.員工編號" class="btn btn-danger">輸入考核成績</a>
				<a href="@Url.Action("Deletetoorman")?fEmpId=@item.員工編號"
				   class="btn btn-danger"
				   onclick="return confirm('確定刪除編號 @item.員工編號 的員工資料?');">
					刪除
				</a>
			</td>
		</tr>
	}
	
</table>
